@charset "utf-8";

/* RIDIBatnag.css */
@font-face {
  font-family: 'RIDIBatnag';
  src: local('리디바탕'),
  url(../fonts/RIDIBatang.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}